@import "tailwindcss";


@import 'bootstrap-icons/font/bootstrap-icons.css';


:root {

  --background: #f8fafc; 
  --foreground: #171717;
}

/* 3. Estilos Globales */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased; /* Hace que el texto se vea más nítido */
}

/* mantener el soporte oscuro en el futuro, descomentar esto,
   pero por ahora lo dejo desactivado para garantizar que veas el diseño azul/blanco correcto.
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/
@keyframes gradient-move {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient-move 15s ease infinite;
}

/* Efecto sutil de flotación para la tarjeta */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}